*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #191919;
    display: flex;
    flex-direction: column;
    align-items: center;

}

header{
    background-color: #0d0d0d;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
    width: 100%;
}
.surch-container{
   
    height: 450PX;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-top: -20px;
   
}
.surch-container input{
    width: 800px;
    height: 50px;
    background-color: #262626;
    border: none;
    padding: 5px 15px;
    border-radius: 10px;
    color: white;
}

.surch-container button{
    height: 50px;
    padding: 15px;
    color: white;
    font-weight: 600;
    background-color: #1E6F9F;
    border: none;
    border-radius: 10px;
}
.dateandpriotity{

    width: 60%;
    margin-top: 15px;
    display: flex;
    justify-content: center;
    margin-left: 150px;
}
.dateandpriotity input{
    width: 200px;
    height: 30px;
    color: white;

}
#priority{
    width: 200px;

    padding: 10px;
    border-radius: 10px;
    color: white;
    background-color:#262626;
    border: none;
    align-self: center;
    
}
#labelperority{
    margin-left: 50px;
}
label{
    font-size: 18px;
    font-weight: 600;
    color: white;
    /* margin-right: 30px; */
}

.filter-container{
    width: 100%;
    display: flex;
    justify-content: space-around;
    /* background-color:#1E6F9F; */
    align-items: center;
    margin: 25px 0px;
    border-radius: 15px;

}
.filter-container select{
    background-color: #1E6F9F;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 10px;
    width: 150px;
}
.filter-container label{
    color: #1E6F9F;
}
#searchInput{
    margin-left:27px;
    border: none;
    height: 35px;
}

.maincontainr{
    
    width: 60%;
    margin-top: 0px;
}

.To-do{
    display: flex;
    justify-content: space-between;
}

.todo{
   
    width: 100px;
    display: flex;
    justify-content: space-around;
    
}
.todo .text{
    color: #4EA8DE;
    padding: 5px;
    font-size: 22px;
    font-weight: 600;
}
.todo .count,.count{
    background-color: #333333;
    padding: 5px;
    font-size: 22px;
    border-radius: 40%;
    color: white;
}

.text-priotity{
    color: #7B7DEC;
    padding: 5px;
    font-size: 22px;
    font-weight: 600;
}

ul{
    margin:20px 10px ;
}
ul li{
   
    border: 3px solid #2c2c2c;
    background-color: #262626;
    padding: 10px 30px;
    font-size: 18px;
    margin-top: 35px;
    color: white;
    border-radius:10px ;
    height: auto;
    text-wrap: wrap;
    list-style: none;
    user-select: none;
    cursor: pointer;
    position: relative;
    display: flex;
    justify-content: flex-end;
}


ul li::before{

content: "";
position: absolute;
height: 14px;
width: 14px;
border-radius: 50%;
background-image:url(./unchecked.png) ;
background-size: cover;
background-position: center;
top: 12px;
left: 8px;
 

}

ul li.checked{
    
    text-decoration: line-through;
} 

ul li.checked::before{
    background-image: url(./checked.png);
}

ul li span{
    position: absolute;
    right: 0;
    top: 5px;
    width: 30px;
    height: 30px;
    font-size: 22px;
    color: #555;
    line-height: 30px;
    text-align: center;
    border-radius: 50%;

}
ul li span:hover{
    background-color:  #edeef0;
    
}

.Date{
    
    color: red;
    margin-left: 500px;
    width: 150px;
    border-radius: 0px;
    margin-right: 35px;
    font-size: 14px;
}


    


.bottom{
    margin-bottom: 150px;   
}


li.todo {
 
    background-color: #c91010;
}

li.inprogress {
    
    background-color: #c6d615;
}

li.done {
  
    background-color: #06a406;
}

li.high {
   
    border: 2px solid red;
}

li.medium {
   
    border: 2px solid orange;
}

li.low {
   
    border: 2px solid green;
}



/* Add styles for the edit button */
.edit-btn button {
    background-color: #4caf50;
    color: white;
    padding: 5px 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.edit-btn button:hover {
    background-color: #45a049;
}